.root {
	border: 1px solid rgba(225, 225, 225, 0.13);
	background: var(--mantine-color-white);
	border-radius: 1.8rem;
	min-height: fit-content;
	position: relative;
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
	width: 16.8rem;
	overflow-y: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
	height: 43.3rem;
}
.root::-webkit-scrollbar {
	display: none;
}

.navlinks {
	margin: 0 0.8rem;
}
.navlinks:last-of-type {
	margin-bottom: 2.4rem;
}
.label {
	font-size: 1.4rem;
	opacity: 0.86;
	font-weight: 400;
	color: var(--mantine-color-brand-1);
}
.homeLabel {
	font-size: 1.6rem;
	opacity: 1;
	font-weight: 500;
}
.icon {
	margin-right: 1.6rem;
}
.icon > svg {
	fill: var(--mantine-color-gray-5);
}
.iconTesters {
	margin-right: 1.2rem;
}
.link {
	padding: 1.2rem 2.4rem;
}

.link:hover {
	background: none;
}
.link[data-active] {
	background-color: var(--mantine-color-gray-0);
	border-radius: 0.8rem;
}
.link[data-active] span {
	font-weight: 500;
}
.link[data-active]:hover {
	background-color: var(--mantine-color-gray-0);
}
.link[data-active] > .icon svg {
	fill: var(--mantine-color-brand-1);
}
