.headerRoot {
	height: 7.2rem;
	background: var(--mantine-color-white);
	padding: 0.8rem 3.2rem;
}

.navbarRoot {
	background: transparent;
	padding-left: 1.6rem;
	top: calc(7.2rem + 1.6rem);
	min-height: 100%;
	z-index: 300;
	overflow-y: auto;
}
.mainRoot {
	min-height: 100%;
	padding: 0;
	min-width: calc(100% - (16.8rem + 1.6rem));
	width: fit-content;
	overflow-x: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
	margin-left: calc(16.8rem + 1.6rem);
	padding-top: 7.2rem;
	display: flex;
	justify-content: center;
}
.mainRoot::-webkit-scrollbar {
	display: none;
}
.mainRootMobile {
	padding-right: 6.4rem;
}
.appContainer {
	width: 100%;
	overflow-x: auto;
}
