.layout {
	border-radius: 1.6rem;
	border: 1px solid rgba(8, 63, 64, 0.08);
	background: var(--mantine-color-white);
	padding: 3.2rem 4rem;
	width: 61rem;
}
.layoutWithHeader {
	width: 61rem;
	border-radius: 1.6rem;
	border: 1px solid rgba(8, 63, 64, 0.08);
	background: var(--mantine-color-white);
}
.divider {
	border-top: 1px solid #f4f4f4 !important;
}

.layoutHeader {
	padding: 0 3.2rem 0 1.6rem;
	border-radius: 1.6rem 1.6rem 0px 0px;
	border: 0.367px solid var(--mantine-color-brand-8);
	background: var(--mantine-color-brand-8);
	position: relative;
}
.layoutHeaderLink {
	display: flex;
	gap: 0.8rem;
	text-decoration: none;
	align-items: center;
}
.layoutHeaderLinkText {
	color: var(--mantine-color-brand-4);
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 2rem;
	letter-spacing: -0.08px;
	text-decoration: none;
}
.layoutHeaderLink svg {
	fill: var(--mantine-color-brand-4);
	transform: rotate(90deg);
}
.icon {
	background: var(--mantine-color-yellow-0);
	border-radius: 50%;
	height: 2.4rem;
	width: 2.4rem;
}
.icon svg {
	fill: var(--mantine-color-brand-4);
	transform: rotate(45deg);
}

.srcCardIcon {
	background: var(--mantine-color-yellow-0);
	border-radius: 50%;
	height: 4.2rem;
	width: 4.2rem;
}
.iconFill {
	fill: var(--mantine-color-brand-4);
}
.srcCardIcon svg {
	fill: var(--mantine-color-brand-4);
}
.srcCardLink {
	text-decoration: none;
}
.srcCardHead {
	color: #0a4d4f;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.8rem;
	letter-spacing: -0.526px;
}
.srcCardText {
	color: #898787;
	font-size: 1.05rem;
	line-height: 1.4rem;
	width: 24.8rem;
}
.srcCardTextSmall {
	width: 18.7rem;
}
.sourceCard {
	padding: 2.4rem 3.2rem;
	flex: 1 0 0;
	border-radius: 1.6rem;
	border: 0.367px solid rgba(202, 204, 204, 0.42);
	background: linear-gradient(180deg, #fafafa 0%, rgba(250, 250, 250, 0) 100%);
	position: relative;
}
.woodHandImg {
	height: 16rem;
	width: 39.75rem;
	position: absolute;
	bottom: -1.2rem;
	scale: 0.85;
	right: -3.2rem;
}

.galaxyImg {
	height: 7.1rem;
	width: 100%;
	position: relative;
	bottom: -2.4rem;
}

.imgPrototype {
	height: 5.8rem;
	width: 15rem;
	position: relative;
	object-fit: cover;
	bottom: -0.1rem;
}
.imgDesign {
	height: 6rem;
	width: 26rem;
	bottom: -0.8rem;
	position: relative;
	object-fit: cover;
	scale: 0.75;
}
.targetLayout {
	padding: 3.2rem 4rem;
	width: 100%;
}
.targetLayoutHead {
	border-bottom: 1px solid #f4f4f4;
	width: calc(100% - 3.2rem);
	margin: 0 auto;
}
.targetLayoutHeadText {
	color: #565656;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 2rem;
	letter-spacing: -0.08px;
}

.selectImg {
	height: 3.2rem;
	width: 3.2rem;
	aspect-ratio: 1/1;
}

.sketchImg {
	transform: scale(1.35);
}

.prototypeForm {
	display: flex;
	gap: 1.6rem;
	flex-direction: column;
	padding: 1.6rem;
	justify-content: center;
	border-radius: 1.6rem;
	border: 1px dashed #ebe9e9;
	background: var(--mantine-color-brand-8);
}

.testersLayout {
	border-radius: 1.6rem;
	background: var(--mantine-color-brand-8);
}
.testersHead {
	border-radius: 1.6rem 1.6rem 0 0;
	border-top: 1px solid #f2f4f7;
	border-right: 1px solid #f2f4f7;
	border-left: 1px solid #f2f4f7;
	background: var(--mantine-color-white);
	height: 6.4rem;
	padding: 0.8rem 2.4rem;
	flex-grow: 1;
}
.testersHeadText {
	color: var(--mantine-color-brand-4);

	font-size: 1.6rem;
	font-weight: 500;
	line-height: 16.644px;
	letter-spacing: -0.16px;
}

.testersBody {
	padding: 2.4rem;
	border-bottom: 1px solid #f2f4f7;
	border-right: 1px solid #f2f4f7;
	border-left: 1px solid #f2f4f7;
	border-radius: 0 0 1.6rem 1.6rem;
}
.testersAdd {
	border-radius: 16px;
	border: 1px solid #f2f4f7;
	background: var(--mantine-color-white);
	padding: 1.6rem 2.4rem;
	gap: 3.6rem;
	width: fit-content;
	cursor: pointer;
}
.testersAddText {
	color: var(--mantine-color-brand-4);
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 2rem;
}

.testersAvailableText {
	color: #848f8f;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.5rem;
}

.drawerInner {
	z-index: 300;
}
.drawerBody {
	padding: 0;
}

.drawerContent {
	background: var(--mantine-color-white);
	border-top-left-radius: 1.6rem;
	border-bottom-left-radius: 1.6rem;
	box-shadow: 0px 2px 9px 8px rgba(224, 224, 224, 0.25);
	min-width: 43rem;
	max-width: none;
}
.drawerHeader {
	border-radius: 0.8rem 3.2rem 0.8rem 0.8rem;
	background: var(--mantine-color-gray-1);
	padding: 2.4rem 3.2rem 1.6rem 3.2rem;
}
.drawerInputs {
	border-radius: 2rem;
	border: 1px solid rgba(238, 238, 238, 0.7);
}
.checkBox {
	width: 2.4rem;
	height: 2.4rem;
	cursor: pointer;
}
.check {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background: var(--mantine-color-brand-4);
	border: 0.262px solid #eee;
}
.check svg {
	fill: var(--mantine-color-white);
}
.drawerForm {
	border-radius: 1.6rem;
}
.radiusSm {
	border-radius: 0.8rem;
}
.drawerFooter {
	border-top: 1px solid #f1f1f1;
}
.testers {
	border-radius: 0.4rem;
	border-bottom: 1px solid rgba(238, 238, 238, 0.7);
}
.individual {
	box-shadow: 0px 1px 5px 0px rgba(239, 238, 238, 0.25);
}
.individualList {
	border-radius: 16px;
	border: 1px solid rgba(238, 238, 238, 0.7);
}
.valueChip {
	border-radius: 0.8rem;
	border: 1px solid #f2f4f7;
	background: linear-gradient(210deg, #fff 18.18%, #fbfbfb 128.59%);
}
.border {
	border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.linkIcon {
	fill: var(--mantine-color-green-1);
}
.orText {
	color: #848f8f;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.4563rem;
}

.formHead {
	cursor: pointer;
}
.formHeadText {
	color: var(--mantine-color-brand-4);
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.4563rem;
	letter-spacing: -0.14px;
}
.formHeadIcon {
	fill: var(--mantine-color-brand-4);
	rotate: 90deg;
}
.chip {
	border-radius: 1.2rem;
	border: 1px solid #f2f4f7;
	background: var(--mantine-color-white);
	box-shadow: 0px 4px 27px 0px rgba(122, 133, 153, 0.12);
}
.chipActive {
	border: 1px solid var(--mantine-color-green-1);
}

.avatar {
	position: relative;
}
.avatar0 {
	z-index: 3;
}
.avatar1 {
	z-index: 2;
}
.avatar2 {
	z-index: 1;
}

.itemAvatarText {
	color: #676767;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 2rem;
}
.arrow {
	cursor: pointer;
	height: 3rem;
	width: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 0.367px solid rgba(227, 227, 227, 0.94);
}

.arrow svg {
	fill: var(--mantine-color-brand-4);
}
.nda {
	border-radius: 1.6rem;
	border: 1px solid #f7f7f7;
}
.ndaBody {
	border-radius: 1.6rem;
	background: var(--mantine-color-brand-8);
}
.modalOverlay {
	z-index: 400;
}
.modalInner {
	padding-top: 9rem;
	z-index: 400;
	padding-left: 0;
	padding-right: 0;
}
.modalContent {
	border: none;
	border-radius: 0;
	box-shadow: none;
}
.modalContent,
.modalContent div {
	background: transparent;
	width: 100%;
	max-width: 114rem;
}

.modalNav {
	cursor: pointer;
}
.modalNav svg {
	fill: var(--mantine-color-white);
	rotate: 90deg;
}
.modalBody {
	background: transparent;
	padding: 0;
}
.modalBtn {
	height: 5.6rem;
	padding: 1.6rem;
	border-radius: 5.2rem;
	border: 1px solid var(--mantine-color-gray-3);
	background: transparent;
	color: var(--mantine-color-white);
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1.82rem;
}
.btnInner {
	gap: 1.6rem;
}
.btnSection {
	margin: 0;
}
