.layout {
	border-radius: 1.6rem;
	border: 1px solid rgba(8, 63, 64, 0.08);
	background: var(--mantine-color-white);
	padding: 3.2rem 4rem;
	width: 61rem;
}
.layoutWithHeader {
	width: 61rem;
	border-radius: 1.6rem;
	border: 1px solid rgba(8, 63, 64, 0.08);
	background: var(--mantine-color-white);
}
.divider {
	border-top: 1px solid #f4f4f4 !important;
}

.layoutHeader {
	padding: 0 3.2rem 0 1.6rem;
	border-radius: 1.6rem 1.6rem 0px 0px;
	border: 0.367px solid var(--mantine-color-brand-8);
	background: var(--mantine-color-brand-8);
	position: relative;
}
.layoutHeaderLink {
	display: flex;
	gap: 0.8rem;
	text-decoration: none;
	align-items: center;
}
.layoutHeaderLinkText {
	color: var(--mantine-color-brand-4);
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 2rem;
	letter-spacing: -0.08px;
	text-decoration: none;
}
.layoutHeaderLink svg {
	fill: var(--mantine-color-brand-4);
	transform: rotate(90deg);
}
.icon {
	background: var(--mantine-color-yellow-0);
	border-radius: 50%;
	height: 2.4rem;
	width: 2.4rem;
}
.icon svg {
	fill: var(--mantine-color-brand-4);
	transform: rotate(45deg);
}

.srcCardIcon {
	background: var(--mantine-color-yellow-0);
	border-radius: 50%;
	height: 4.2rem;
	width: 4.2rem;
}
.iconFill {
	fill: var(--mantine-color-brand-4);
}
.srcCardIcon svg {
	fill: var(--mantine-color-brand-4);
}
.srcCardLink {
	text-decoration: none;
}
.srcCardHead {
	color: #0a4d4f;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.8rem;
	letter-spacing: -0.526px;
}
.srcCardText {
	color: #898787;
	font-size: 1.05rem;
	line-height: 1.4rem;
	width: 24.8rem;
}
.srcCardTextSmall {
	width: 18.7rem;
}
.sourceCard {
	padding: 2.4rem 3.2rem;
	flex: 1 0 0;
	border-radius: 1.6rem;
	border: 0.367px solid rgba(202, 204, 204, 0.42);
	background: linear-gradient(180deg, #fafafa 0%, rgba(250, 250, 250, 0) 100%);
	position: relative;
}
.woodHandImg {
	height: 16rem;
	width: 39.75rem;
	position: absolute;
	bottom: -1.2rem;
	scale: 0.85;
	right: -3.2rem;
}

.galaxyImg {
	height: 7.1rem;
	width: 100%;
	position: relative;
	bottom: -2.4rem;
}

.imgPrototype {
	height: 5.8rem;
	width: 15rem;
	position: relative;
	object-fit: cover;
	bottom: -0.1rem;
}
.imgDesign {
	height: 6rem;
	width: 26rem;
	bottom: -0.8rem;
	position: relative;
	object-fit: cover;
	scale: 0.75;
}
.targetLayout {
	padding: 3.2rem 4rem;
	width: 100%;
}
.targetLayoutHead {
	border-bottom: 1px solid #f4f4f4;
	width: calc(100% - 3.2rem);
	margin: 0 auto;
}
.targetLayoutHeadText {
	color: #565656;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 2rem;
	letter-spacing: -0.08px;
}

.selectImg {
	height: 3.2rem;
	width: 3.2rem;
	aspect-ratio: 1/1;
}

.sketchImg {
	transform: scale(1.35);
}

.prototypeForm {
	display: flex;
	gap: 1.6rem;
	flex-direction: column;
	padding: 1.6rem;
	justify-content: center;
	border-radius: 1.6rem;
	border: 1px dashed #ebe9e9;
	background: var(--mantine-color-brand-8);
}

.testersLayout {
	border-radius: 1.6rem;
	background: var(--mantine-color-brand-8);
}
.testersHead {
	border-radius: 1.6rem 1.6rem 0 0;
	border-top: 1px solid #f2f4f7;
	border-right: 1px solid #f2f4f7;
	border-left: 1px solid #f2f4f7;
	background: var(--mantine-color-white);
	height: 6.4rem;
	padding: 0.8rem 2.4rem;
	flex-grow: 1;
}
.testersHeadText {
	color: var(--mantine-color-brand-4);

	font-size: 1.6rem;
	font-weight: 500;
	line-height: 16.644px;
	letter-spacing: -0.16px;
}

.testersBody {
	padding: 2.4rem;
	border-bottom: 1px solid #f2f4f7;
	border-right: 1px solid #f2f4f7;
	border-left: 1px solid #f2f4f7;
	border-radius: 0 0 1.6rem 1.6rem;
}
.testersAdd {
	border-radius: 16px;
	border: 1px solid #f2f4f7;
	background: var(--mantine-color-white);
	padding: 1.6rem 2.4rem;
	gap: 3.6rem;
	width: fit-content;
	cursor: pointer;
}
.testersAddText {
	color: var(--mantine-color-brand-4);
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 2rem;
}

.testersAvailableText {
	color: #848f8f;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.5rem;
}
